* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9f8d5;
}

.container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    padding: 3em 1em;
    background-color: #a0d4117c;
    border-radius: 10px;
}

.container-jokes {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#get-joke {
    display: block;
}

.container-jokes p {
    font-size: 1.5em;
    text-align: center;
    color: #62a104;
}

.container-jokes h2 {
    font-size: 2em;
    margin: 2em;
    text-align: center;
}

.container button {
    background-color: #9dd648;
    border: 1px solid #95d634;
    border-radius: 10px;
    padding: 1em 2em;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color .3s ease;
}

.container button:hover {
    background-color: #95d831;
    transition: background-color .3s ease;
}

.container button:active {
    background-color: #8dd325;
    transition: background-color .3s ease;
}

@media screen and (max-width: 1500px) {
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 80%;
    }
    
    .container p {
        font-size: 1.2em;
    }

    .container h2 {
        font-size: 1.5em;
    }

    .container button {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 555px) {
    .container {
        width: 90%;
    }

    .container p {
        font-size: 1.2em;
    }

    .container h2 {
        font-size: 1.5em;
    }

    .container button {
        font-size: 1.2em;
    }
}


@media screen and (max-width: 450px) {
    .container h2 {
        font-size: 1.5em;
        margin: 1em;
    }
}